body {
    margin: 0;
    height: 100vh;
    background: #5fa85f; /* grass shade */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.game-container {
    position: relative;
}

/* Canvas = game area */
canvas {
    background-color: #d6c27a; /* yellow-brown base */
    border: 4px solid #8b6f2f;
}

/* grid effect */
canvas {
    background-image:
        linear-gradient(#b59b4c 1px, transparent 1px),
        linear-gradient(90deg, #b59b4c 1px, transparent 1px);
    background-size: 30px 30px;
}

.snake-img {
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 80px;
    opacity: 0.9;
}
.logo {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}